body {
	color: black;
	background-color: #300000;
}

ht {
	color:rgb(0,0,255);
}

p.ex {
	color:#ffffff;
}

si {
	color:#ffffff; 
/*	position:relative; 
	left:70px;*/
}

r.dashed1 {
	border-style:dashed; 
	border-color:#701010; 
	border-width:3px;
}

r.dashed2 {
	border-style:solid;
	border-color:#600000;
	border-width:3px;
}

r.ex {
	color:#fdfdfd;
	font-family:"Times New Roman";
	font-size:11px;
}
/*
a:link {
	color:#FFFF00;
}    /* unvisited link */
*/
a:visited {
	color:#00FFFF;
} /* visited link */

a:hover {
	color:#FF0000;
}   /* mouse over link */

a:active {
	color:#0000FF;
}  /* selected link */

#information {
	margin: 0 auto;
	text-align: center;
}

#signin {
	color: #ffffff; 
	font-size:  22px; 
	font-family: arial; 
	font-style: bold;
	text-align: center;
	padding: 1em 0;
}

.pbutton {
	display: none;
}

.hidden {
	display: none;
}

#content {
	margin: 5px;
	background-color: #500000;
	padding-top: 5px;
}

#content1 {
	margin: 5px;
	background-color: #500000;
	padding-top: 5px;
	float: left;
}

#leftpanel {
	margin: 0;
	float: left;
	text-align: center;
	padding: 0.5em;
}

#rightpanel {
	margin: 0;
	float: left;
	text-align: center;
	padding: 0.5em;
}

#startlink {
	text-decoration: none;
}

#player {
	border: 1px solid black;
}

#playerdiv {
	text-align: center;
	padding: 1em;
}

#seekbar {
	width:300px;
	height:20px;
	background-color:black;
}

#seekpos {
	width:0px;
	height:20px;
	background-color:#0080e0;
}

a#startlink:link {
	color: transparent;
}    /* unvisited link */

a#startlink:visited {
	color: transparent;
} /* visited link */

a#startlink:hover {
	color: transparent;
}   /* mouse over link */
